@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.modal_window {
  display: block;
  position: relative; }

.modal_nav {
  display: none;
  width: 450px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -225px;
  z-index: 5;
  padding: 20px 10px; }

.overlay {
  z-index: 3;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: -50%;
  background-color: rgba(7, 172, 153, 0.8); }

.overlay_right {
  z-index: 3;
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  right: -50%;
  background-color: rgba(7, 172, 153, 0.8); }

.modal_close {
  display: none;
  position: fixed;
  z-index: 6;
  top: 22px;
  right: 11px;
  width: 40px;
  height: 40px;
  cursor: pointer; }
  .modal_close:before, .modal_close:after {
    content: "";
    width: 45px;
    height: 5px;
    border-radius: .5px;
    z-index: 6;
    background-color: #fff;
    position: absolute;
    top: 15px;
    right: 15px; }
  .modal_close:before {
    transform: rotate(45deg); }
  .modal_close:after {
    transform: rotate(-45deg); }

.modal_close.modal_close-blog {
  top: 15px;
  right: 127px; }

.modal_nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.modal_nav_item {
  display: block;
  position: relative; }

.modal_nav_link {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: 'bernier-regular';
  font-weight: normal;
  font-style: normal;
  font-size: 4em;
  color: #fff; }
  .modal_nav_link:before, .modal_nav_link:after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    padding: 0px;
    vertical-align: middle;
    display: inline-block;
    height: 5px;
    width: 0px;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.2s; }
  .modal_nav_link:before {
    left: -40px; }
  .modal_nav_link:after {
    right: -40px; }

.modal_nav_link:hover:before {
  width: 25px; }

.modal_nav_link:hover:after {
  width: 25px; }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  box-sizing: border-box; }

.wrapper__welcome {
  overflow: hidden;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  margin-bottom: -50px;
  position: relative;
  display: none; }

.parallax {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax-bg {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -1000px;
  width: 2000px;
  height: 100%; }
  .parallax-bg img {
    display: block;
    max-width: 100%;
    bottom: 0;
    margin-top: -20px; }

.wrapper__welcome:after {
  content: '';
  display: block;
  height: 50px; }

.footer_welcome {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.7); }

.flip_container {
  perspective: 1000px;
  width: 380px;
  height: 400px;
  margin: auto; }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative; }

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: -100px;
  left: 0; }

.front {
  z-index: 2;
  transform: rotateY(0deg);
  transition: 1s; }

.back {
  transform: rotateY(180deg);
  transition: 1s; }

.welcome_login {
  font-family: 'roboto-medium';
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: rgba(154, 189, 191, 0.1);
  margin: 25px 20px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  outline: none; }
  .welcome_login:hover {
    background-color: #fff;
    color: #07ac99; }

.avatar {
  overflow: hidden;
  width: 380px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: auto;
  color: #455a64;
  text-align: center; }

.avatar__img__store {
  width: 142px;
  height: 142px;
  margin: 40px auto 15px; }

.ava__img {
  border-radius: 50%; }

.avatar_name {
  font-family: 'roboto-medium';
  font-size: 1.6em;
  font-weight: normal;
  margin: 10px auto 0; }

.welcome__nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

.welcome__nav__item {
  display: table-cell;
  border-right: 1px solid #fff; }

.welcome__nav__item:last-child {
  border: none; }

.welcome__nav__link {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 11px 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #07ac99; }
  .welcome__nav__link:hover {
    background-color: #009688; }
  .welcome__nav__link:last-child {
    border: none; }

.welcome__social__list {
  width: 50%;
  margin: 30px auto 40px;
  padding: 0; }
  .welcome__social__list:before, .welcome__social__list:after {
    content: "";
    display: table; }
  .welcome__social__list:after {
    clear: both; }

.welcome__social__item {
  display: inline-block;
  margin-left: 15px; }
  .welcome__social__item:first-child {
    margin-left: 0; }

.welcome__social__link {
  padding: 5px; }

.svg_welcome_social {
  fill: #07ac99; }
  .svg_welcome_social:hover {
    fill: #009688; }

.log__in__welcome {
  width: 380px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: auto;
  color: #455a64;
  text-align: center; }
  .log__in__welcome h4 {
    margin: 0;
    margin-top: 15px; }

.log__in__header {
  width: 100%;
  margin: 20px auto 30px;
  padding-top: 30px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-regular';
  font-size: 1.8em;
  font-weight: normal;
  color: #455a64; }
  .log__in__header:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 50px;
    top: 49px; }
  .log__in__header:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 50px;
    top: 49px; }
  .log__in__header h3 {
    margin: 0; }

.form__group__log-in {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.log-in__label {
  display: block;
  position: relative; }

.log-input {
  display: block;
  width: 87%;
  height: 35px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
  outline: none; }

.login-key, .login-user {
  display: block;
  position: absolute;
  top: 0;
  left: 24px;
  background-color: #f0efe9;
  color: #c4cbcd;
  padding: 7px;
  width: 31px;
  height: 31px;
  border-radius: 5px 0 0 5px; }
  .login-key:before, .login-user:before {
    position: absolute;
    top: 17px;
    left: 17px; }

.login_input_text {
  padding: 5px 0;
  text-indent: 70px;
  outline: none;
  border: none; }

.fa.fa-check-square {
  display: block;
  position: absolute;
  top: 3px;
  left: 140px;
  padding: 0;
  color: #07ac99; }

.fa-check-login {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #07ac99;
  display: block;
  position: absolute;
  top: 3px;
  left: 140px;
  cursor: pointer;
  z-index: 10; }

.radio {
  position: relative;
  margin: 8px auto 30px; }

.checkbox {
  display: block;
  position: relative; }

.login__radio-left, .login__radio-right {
  margin-right: 75px;
  cursor: pointer;
  text-indent: 25px;
  text-wrap: no-wrap;
  width: 20px;
  height: 20px;
  border: 1px solid #cfcfd0;
  border-radius: 50%;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle; }
  .login__radio-left:after, .login__radio-right:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #07ac99;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0; }
  .login__radio-left input, .login__radio-right input {
    position: absolute;
    display: block;
    top: 4px;
    left: 4px;
    z-index: -1; }

.login__radio.login__radio-left.active:after {
  opacity: 1; }

.login__radio.login__radio-right.active:after {
  opacity: 1; }

.login_nav_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

.login_nav_item {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #fff; }
  .login_nav_item:last-child {
    border: none; }

.login_nav_link {
  display: block;
  float: left;
  width: 100%;
  padding: 12px 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #07ac99; }
  .login_nav_link:hover {
    background-color: #009688; }
  .login_nav_link:last-child {
    border: none; }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.works_background_container {
  position: relative;
  overflow: hidden;
  background: url(../img/welcome-bg.jpg) no-repeat center;
  width: 100%;
  height: 100%;
  margin-bottom: -100px; }

.avatar__inner.avatar__inner-myWorks {
  position: absolute;
  top: 0;
  right: 0;
  left: 0; }

.work__items {
  width: 100%;
  height: 100%;
  margin-top: -35px; }
  .work__items:before, .work__items:after {
    content: "";
    display: table; }
  .work__items:after {
    clear: both; }

.active__item__description {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f0efe9; }

.a-i-d_center {
  position: relative;
  max-width: 420px;
  max-height: 250px;
  margin: 0 auto;
  margin-top: 23vh;
  text-align: center;
  text-transform: uppercase; }
  .a-i-d_center:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 36px;
    top: 18px; }
  .a-i-d_center:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 36px;
    top: 18px; }

.a-i-d_title {
  font-family: 'bernier-regular';
  font-size: 2.1em;
  margin-bottom: 30px;
  color: #455a64; }

.a-i-d_text {
  color: #07ac99;
  border-top: 2px solid #07ac99;
  border-bottom: 2px solid #07ac99;
  padding: 14px 0;
  margin-bottom: 40px; }

.a-i-d_button {
  position: relative;
  background-color: #07ac99;
  padding: 10px 18px 10px 50px;
  border-radius: 5px; }

.a-i-d_link {
  color: #fff;
  text-decoration: none; }

.svg_works_link {
  position: absolute;
  left: -40px;
  top: 12px; }

.slider_top {
  width: 50%;
  height: 70%;
  float: right;
  background: #888;
  position: relative; }

.slider__display-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 360px;
  height: 324px;
  overflow: hidden; }

.slider_item-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  opacity: 0; }
  .slider_item-top.active {
    opacity: 1; }

.slider_item-down {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%; }
  .slider_item-down.active {
    top: 0; }

.slider_item-up {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%; }
  .slider_item-up.active {
    top: 0; }

.works_preview {
  position: relative;
  width: 50%;
  height: 30%;
  float: left;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .works_preview img {
    max-width: 100%; }

.slider__display {
  overflow: hidden;
  width: 240px;
  height: 156px;
  position: relative; }
  .slider__display:before, .slider__display:after {
    content: "";
    display: table; }
  .slider__display:after {
    clear: both; }

.slider_preview-down, .slider_preview-up {
  position: absolute;
  width: 50%;
  float: left;
  box-sizing: border-box; }

.svg_works_arrow_down {
  position: absolute;
  fill: rgba(255, 255, 255, 0.7);
  top: 60%;
  left: 20%;
  cursor: pointer;
  z-index: 1; }
  .svg_works_arrow_down:hover {
    transform: translateY(10px);
    transition: all .3s; }

.svg_works_arrow_up {
  position: absolute;
  fill: rgba(255, 255, 255, 0.7);
  top: 60%;
  left: 70%;
  cursor: pointer;
  z-index: 1; }
  .svg_works_arrow_up:hover {
    transform: translateY(-10px);
    transition: all .3s; }

.work_img {
  max-width: 100%; }

.svg_about_people_say {
  position: absolute;
  top: -60px;
  left: -100px;
  opacity: .1; }

.people__feedback {
  width: 100%;
  max-width: 1800px;
  overflow: hidden;
  background: url(../img/about_bg_cut.jpg) no-repeat center;
  background-size: cover;
  z-index: 1; }

.people_say {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 70px auto;
  width: 32%; }
  .people_say:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: -27px;
    top: 17px; }
  .people_say:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: -27px;
    top: 17px; }

.my_works_text {
  font-family: 'bernier-regular';
  font-size: 2.1em;
  color: #455a64;
  font-weight: normal;
  font-style: normal; }

.blockquote_left {
  padding-left: 41px; }

.fa.fa-quote-left {
  color: #d4d7d8; }

.feedback_list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 72%; }

.people__feedback__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  color: #77868d; }

.tutor__avatar {
  padding-left: 10%;
  margin-top: 30px; }
  .tutor__avatar:before, .tutor__avatar:after {
    content: "";
    display: table; }
  .tutor__avatar:after {
    clear: both; }

.tutor_img {
  border-radius: 50%; }

.tutor_name {
  color: #07ac99;
  float: right;
  width: 70%; }

.tutor_surname {
  margin-bottom: 0; }

.tutor_position {
  padding: 0;
  margin: 0; }

.feedback__form {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  margin-bottom: 85px;
  width: 380px;
  text-indent: 20px;
  border-radius: 5px; }
  .feedback__form:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 323px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(1px);
    filter: blur(1px); }

.feedback_form_input, .feedback__form_textarea {
  display: block;
  width: 80%;
  outline: none;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  border-color: none; }

.feedback__form_textarea {
  resize: none; }

.feedback_form_label {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'bernier-regular';
  text-align: center;
  padding: 20px;
  font-size: 35px;
  box-sizing: border-box; }
  .feedback_form_label:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 25px;
    top: 38px; }
  .feedback_form_label:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 25px;
    top: 38px; }

.buttons_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block; }
  .buttons_list:before, .buttons_list:after {
    content: "";
    display: table; }
  .buttons_list:after {
    clear: both; }

.button_item {
  display: block;
  float: left;
  width: 50%;
  padding: 15px 0;
  border-width: 0;
  border-style: none;
  border-right: 1px solid #fff;
  color: #fff;
  background-color: #07ac99;
  box-sizing: border-box; }
  .button_item:hover {
    background-color: #009688; }
  .button_item:last-child {
    border: none; }

.button__submit {
  border-radius: 0 0 0 5px; }

.button__reset {
  border-radius: 0 0 5px 0; }

.svg_works_arrow_up2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  fill: rgba(255, 255, 255, 0.7); }
  .svg_works_arrow_up2:hover {
    transform: translateY(-10px);
    transition: all .3s; }

.svg_inner_header_arrow:hover {
  transform: translateY(-10px);
  transition: all .3s; }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.inner__pages__header {
  width: 100%;
  max-width: 1800px;
  height: 100%; }
  .inner__pages__header:before, .inner__pages__header:after {
    content: "";
    display: table; }
  .inner__pages__header:after {
    clear: both; }

.header__socials {
  float: left;
  margin: 15px 0 0 0;
  padding-left: 20px; }

.header__soc__item {
  display: inline-block;
  margin: 0 10px;
  text-align: center; }

.svg_inner_header {
  fill: rgba(255, 255, 255, 0.7); }
  .svg_inner_header:hover {
    fill: #fff; }

.hamburger {
  width: 40px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 26px;
  z-index: 10; }

.hamburger-top, .hamburger-mid, .hamburger-bottom {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  z-index: 10; }

.hamburger-top {
  position: absolute;
  top: 0;
  left: 0; }

.hamburger-top.hamburger-topClose {
  position: absolute;
  top: 16px;
  left: 0;
  transform: rotate(-45deg);
  transition: all .3s; }

.hamburger-mid {
  position: absolute;
  top: 15px;
  left: 0; }

.hamburger-bottom {
  position: absolute;
  bottom: 0;
  left: 0; }

.hamburger-bottom.hamburger-bottomClose {
  position: absolute;
  bottom: 14px;
  left: 0;
  transform: rotate(45deg);
  transition: all .3s; }

.portfolio_bg {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0; }

.svg_portfolio_bg {
  fill: rgba(255, 255, 255, 0.1);
  width: 100%; }

.avatar__inner {
  margin: 0 auto;
  margin-top: 150px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center; }

.ava__inner {
  border: 2px solid #fff;
  border-radius: 50%; }

.ava__title {
  margin: 12px auto 0;
  font-size: 2em; }

.arrow__down {
  margin-top: 7%; }

.svg_inner_header_arrow {
  margin: 0 auto;
  margin-bottom: 5%;
  opacity: .7;
  cursor: pointer;
  z-index: 10; }

.svg_inner_header_arrow {
  cursor: pointer; }
  .svg_inner_header_arrow:hover {
    transform: translateY(10px); }

.svg_works_arrow_up2 {
  cursor: pointer; }

.triangles {
  position: relative;
  width: 100%; }

.inner_header_triangle {
  position: absolute;
  bottom: 35px;
  left: 0;
  fill: #faf8f0; }

.inner_header_triangle_about_me {
  bottom: 135px; }

.title__inner {
  width: 100%;
  height: 135px;
  position: relative;
  bottom: 35px;
  left: 0;
  right: 0;
  background-color: #faf8f0;
  text-transform: uppercase;
  text-align: center; }

.title__inner__text {
  position: relative;
  width: 35%;
  margin: 0 auto;
  font-family: 'bernier-regular';
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
  color: #455a64; }
  .title__inner__text:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 12px;
    top: 36px; }
  .title__inner__text:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 12px;
    top: 36px; }

.svg_inner_works {
  width: 100%;
  position: relative;
  bottom: 98px;
  opacity: .1; }

.inner_footer {
  position: relative;
  z-index: 10;
  margin-top: -165px; }

.inner_footer.works_footer {
  margin-top: 0;
  background: #555b5e; }

.upper__footer, .down__footer {
  width: 100%;
  max-width: 1800px;
  background: rgba(47, 68, 73, 0.5);
  color: #fff;
  border-bottom: 1px solid #606e72; }
  .upper__footer:before, .upper__footer:after, .down__footer:before, .down__footer:after {
    content: "";
    display: table; }
  .upper__footer:after, .down__footer:after {
    clear: both; }

.footer__navy {
  float: left; }

.footer__navy__item {
  display: inline-block;
  padding: 15px 0;
  margin-left: 30px; }
  .footer__navy__item:first-child {
    margin-left: 0;
    padding-left: 0; }

.footer__socials {
  float: right;
  margin-right: 15px; }

.footer_socials_item {
  display: inline-block;
  margin-left: 15px; }
  .footer_socials_item:first-child {
    margin-left: 0; }

.svg_footer {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  fill: rgba(255, 255, 255, 0.5); }
  .svg_footer:hover {
    fill: #fff; }

.down__footer {
  border: none;
  color: #606e72; }
  .down__footer:before, .down__footer:after {
    content: "";
    display: table; }
  .down__footer:after {
    clear: both; }

.down__footer__left {
  float: left;
  width: 40%; }

.down__footer__right {
  float: right; }

.footer_socials_item {
  display: inline-block; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.background_container {
  background: url(../img/welcome-bg.jpg) no-repeat center;
  width: 100%;
  height: 100%; }

.trian_left_about {
  fill: #efeee9; }

.trian_right_about {
  fill: #eeebdf; }

.triangles_extentions {
  width: 100%;
  display: table;
  margin-top: -135px;
  box-sizing: border-box; }

.extent_left {
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  background: #efeee9;
  width: 50%;
  box-sizing: border-box; }
  .extent_left:before, .extent_left:after {
    content: "";
    display: table; }
  .extent_left:after {
    clear: both; }

.left_about_me {
  position: relative; }

.left_about_me_title {
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-regular';
  font-weight: normal;
  font-style: normal;
  font-size: 3.5em;
  color: #373e42; }
  .left_about_me_title:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 45px;
    top: 33px; }
  .left_about_me_title:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 45px;
    top: 33px; }

.extent_left_left {
  width: 50%;
  float: left; }
  .extent_left_left:before, .extent_left_left:after {
    content: "";
    display: table; }
  .extent_left_left:after {
    clear: both; }

.extent_left_right {
  width: 50%;
  float: left; }

.left_about_description {
  overflow: hidden;
  text-align: left;
  padding: 15px;
  overflow: hidden;
  color: #373e42; }
  .left_about_description p {
    color: #728185; }

.page_about_ava {
  left: 38px; }

.extent_right {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  background: #eeebdf;
  width: 50%;
  color: #373e42; }

.extent_right_title {
  position: relative;
  width: 40%;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-regular';
  font-size: 2em; }
  .extent_right_title:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: -30px;
    top: 15px; }
  .extent_right_title:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: -30px;
    top: 15px; }

.extent_right_text {
  text-align: left;
  padding: 15px;
  color: #728185; }

.who_am_i {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-regular';
  font-size: 2em; }
  .who_am_i:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 90px;
    top: 15px; }
  .who_am_i:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 90px;
    top: 15px; }

.about_me_skills {
  overflow: hidden; }

.skills_list {
  position: relative;
  width: 100%;
  font-family: 'roboto-medium';
  font-size: 1.8em;
  color: #373e42;
  text-transform: capitalize;
  padding-left: 20px; }

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120px;
  height: 120px; }

.skills_text {
  width: 57%;
  height: 17%;
  font-size: .4em;
  text-transform: uppercase;
  text-align: center;
  word-break: break-all;
  color: #10c1a8; }

.frontend_item, .backend_item, .workflow_item {
  display: inline-block;
  margin: 0 0 20px 20px; }
  .frontend_item:first-child, .backend_item:first-child, .workflow_item:first-child {
    margin-left: 0; }

.common_circle {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke-width: 20px; }

.sector {
  stroke-dasharray: 408;
  stroke-dashoffset: 240;
  transition: all 1s; }

#google-map {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  border: none; }

.contactsWrapper {
  position: relative;
  height: 650px; }

#google-map {
  position: relative; }

.aboutContacts {
  position: absolute;
  top: 56px;
  left: 56px;
  width: 380px;
  height: 380px;
  border-radius: 5px;
  font-size: 1.8em;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2); }
  .aboutContacts h4 {
    font-family: 'bernier-regular';
    text-align: center;
    padding-top: 30px; }

.about-item {
  margin: 25px 0;
  padding-left: 35px; }

.about-link {
  color: #455a64;
  vertical-align: middle;
  font-family: 'roboto-medium';
  font-size: .6em; }
  .about-link:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 90px;
    top: 45px; }
  .about-link:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 90px;
    top: 45px; }
  .about-link .fa {
    color: #00bfa5;
    font-size: 1.2em;
    vertical-align: middle;
    margin-right: 10px; }

body {
  background: none; }

.inner__pages__header_blog {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/welcome-bg.jpg) no-repeat center;
  box-sizing: border-box; }

.header_blog_top {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10%; }
  .header_blog_top:before, .header_blog_top:after {
    content: "";
    display: table; }
  .header_blog_top:after {
    clear: both; }

.blog_socials {
  float: left; }

.header__socials_blog {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.hamburger.hamburger_blog {
  float: right;
  position: static;
  cursor: pointer;
  margin-top: 15px; }

.avatar__inner_blog {
  margin: 0 auto; }

.ava__inner_blog {
  display: block;
  margin: auto;
  height: auto; }

.blog_bg_wrap {
  margin: 0 auto;
  width: 400px;
  height: auto; }

.blog_header_text_box {
  position: relative;
  width: 70%;
  bottom: 235px;
  margin: 0 auto; }
  .blog_header_text_box:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 10px;
    top: 38px; }
  .blog_header_text_box:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 10px;
    top: 38px; }

.ava__title_blog {
  font-family: 'bernier-regular';
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0; }

.title_blog_span {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.7); }

.svg_blog_bg {
  fill: rgba(255, 255, 255, 0.1);
  width: 100%; }

.arrow__down_blog {
  position: relative;
  bottom: 130px;
  margin: 0 auto;
  width: 26px;
  height: 17px; }

.svg_blog_header_arrow {
  color: rgba(255, 255, 255, 0.7); }

.triangles_blog {
  position: absolute;
  width: 100%;
  height: 73.7px;
  bottom: 28px;
  left: 0; }

.blog_header_triangle {
  fill: #fff; }

.blog_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.blog_container {
  width: 90%;
  margin: 0 auto;
  color: #77868d; }
  .blog_container:before, .blog_container:after {
    content: "";
    display: table; }
  .blog_container:after {
    clear: both; }

.blog_header {
  height: 200px; }

.blog_left__col {
  width: 30%;
  float: left;
  height: 1px; }

.blog_right__col {
  width: 70%;
  float: left; }
  .blog_right__col img {
    display: block;
    max-width: 100%; }

.blog_menu {
  padding-right: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.blog_menu-button {
  display: none; }

.blog_content {
  padding-left: 10px; }

.blog_overlay {
  display: none; }

.blog_footer {
  margin-top: 0; }

.blog_menu__link {
  padding: 10px;
  display: block;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #77868d; }

.blog_menu__item {
  margin-bottom: 20px; }
  .blog_menu__item.active {
    border-right: 2px solid #1abc9c; }

.blog_menu__wrapper {
  position: relative;
  height: 1px; }

.blog_footer {
  background-color: #555b5e; }

.wrapper_preloader {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/preloader_bg.jpg); }

.svg_preloader {
  position: fixed;
  top: 50%;
  margin-top: -46px;
  left: 50%;
  margin-left: -46px; }

.circle_preload {
  animation-iteration-count: infinite;
  transform-origin: 50%; }

.circle_preload_mid {
  transform: rotate(-120deg);
  animation: moving-inner-circle 3s; }

.circle_preload_inner {
  transform: rotate(-90deg);
  animation: moving-inner-circle 3s;
  animation-delay: 1s; }

@-webkit-keyframes moving-inner-circle {
  from {
    stroke-dasharray: 0 251; }
  to {
    stroke-dasharray: 251 251; } }

@-webkit-keyframes moving-mid-circle {
  from {
    stroke-dasharray: 0 345; }
  to {
    stroke-dasharray: 345 345; } }

#new_project_popup {
  display: none;
  margin: 50px auto;
  width: 400px;
  height: 400px;
  border: 2px solid #777; }

.server-mes {
  height: 20px;
  background: #fff;
  color: #555; }

@media screen and (max-width: 1200px) {
  .arrow__down {
    margin-top: 11%; } }

@media screen and (max-width: 992px) {
  .arrow__down {
    margin-top: 15%; }
  .title__inner__text {
    font-size: 50px; }
  .title__inner__text:after, .title__inner__text:before {
    top: 29px; } }

@media screen and (max-width: 912px) {
  .title__inner__text {
    font-size: 45px; }
  .title__inner__text:after, .title__inner__text:before {
    top: 25px; }
  .title__inner__text:before {
    left: 0; }
  .title__inner__text:after {
    right: 0; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .arrow__down {
    margin-top: 18%; }
  .flip_container {
    width: 300px;
    height: 320px; }
  .avatar, .log__in__welcome {
    width: 300px; }
  .avatar__img__store {
    margin: 22px auto 19px; }
  .welcome__social__list {
    margin: 12px auto 12px; }
  .log__in__header h3 {
    font-size: .8em; }
  .log__in__header:before {
    position: absolute;
    left: 52px;
    top: 42px; }
  .log__in__header:after {
    position: absolute;
    right: 52px;
    top: 42px; }
  .log__in__header {
    margin: 20px auto 20px; }
  .radio {
    margin: 8px auto 10px; }
  .log-input {
    margin: 10px auto; }
  .login_nav_link {
    padding: 10px 0; }
  .login-key, .login-user {
    left: 19px; }
  .fa.fa-check-square {
    left: 101px; }
  .login__radio:after {
    left: 57px; }
  .title__inner__text {
    font-size: 40px; }
  .svg_inner_works {
    width: 50%; }
  .work__items {
    width: 100%;
    margin-top: -35px; }
  .active__item__description {
    width: 100%;
    float: none; }
  .work__items__slider {
    width: 100%;
    float: none; }
  .slider_top {
    position: relative;
    width: 100%; }
  .slider__display-top {
    position: static;
    margin: 0 auto; }
  .works_preview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .svg_works_arrow_down, .svg_works_arrow_up {
    z-index: 1; }
  .blockquote_left i {
    display: block; }
  .blockquote_left blockquote {
    margin: 10px 0; }
  .tutor_name {
    width: 62%; }
  .feedback_list {
    width: 80%; }
  .people__feedback__item {
    display: flex;
    justify-content: space-between;
    flex: 1; }
  .tutor__avatar {
    padding-left: 10%;
    margin-top: 30px; }
  .footer__navy {
    float: none;
    width: 100%; }
  .footer__navy__list {
    width: 55%;
    margin: 10px auto; }
  .footer__socials {
    float: none;
    width: 27%;
    margin: 0 auto 10px; }
  .down__footer__left {
    float: none;
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .down__footer__right {
    float: none;
    width: 61%;
    margin: 0 auto;
    text-align: center; } }

@media screen and (max-width: 684px) {
  .title__inner__text {
    font-size: 42px; }
  .title__inner__text:after, .title__inner__text:before {
    top: 22px; }
  .title__inner__text:before {
    left: -5px; }
  .title__inner__text:after {
    right: -5px; }
  .svg_inner_works {
    width: 50%; } }

@media screen and (max-width: 480px) {
  .welcome_login {
    top: 20px;
    margin: 0 auto; }
  .inner__pages__header {
    width: 100%;
    max-width: 480px;
    height: 100%; }
  .hamburger {
    top: 15px;
    right: 80px; }
  .title__inner {
    bottom: 36px; }
  .arrow__down {
    margin-top: 32%; }
  .title__inner__text {
    font-size: 34px; }
  .title__inner__text:after, .title__inner__text:before {
    top: 18px; }
  .title__inner__text:before {
    left: -25px; }
  .title__inner__text:after {
    right: -25px; }
  .svg_inner_works {
    width: 50%; }
  .active__item__description {
    width: 100%;
    float: none; }
  .work__items__slider {
    width: 100%;
    float: none; }
  .slider_top {
    position: relative;
    width: 100%; }
  .slider__display-top {
    position: static;
    margin: 0 auto; }
  .works_preview {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .svg_works_arrow_down, .svg_works_arrow_up {
    z-index: 1; }
  .feedback_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .blockquote_left i {
    display: block; }
  .blockquote_left blockquote {
    margin: 10px 0;
    padding: 0; }
  .footer__navy {
    float: none;
    width: 100%; }
  .footer__navy__list {
    width: 89%;
    margin: 10px auto; }
  .footer__socials {
    float: none;
    width: 44%;
    margin: 0 auto 10px; }
  .down__footer__left {
    float: none;
    width: 85%;
    margin: 0 auto;
    text-align: center; }
  .down__footer__right {
    float: none;
    width: 61%;
    margin: 0 auto;
    text-align: center; } }

@media screen and (max-width: 768px) {
  .extent_left {
    display: block;
    width: 100%; }
  .extent_right {
    display: block;
    width: 100%; }
  .extent_left_left {
    width: 100%;
    float: none; }
  .extent_left_right {
    width: 100%;
    float: none; }
  .left_about_me_title {
    font-size: 3em; }
    .left_about_me_title:before {
      left: 255px;
      top: 28px; }
    .left_about_me_title:after {
      right: 255px;
      top: 28px; }
  .page_about_ava {
    display: block;
    margin: 0 auto; }
  .who_am_i:before {
    left: 280px;
    top: 17px; }
  .who_am_i:after {
    right: 280px;
    top: 17px; }
  .skills_list {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .extent_left {
    display: block;
    width: 100%; }
  .extent_right {
    display: block;
    width: 100%; }
  .extent_left_left {
    width: 100%;
    float: none; }
  .extent_left_right {
    width: 100%;
    float: none; }
  .left_about_me_title {
    font-size: 3em; }
    .left_about_me_title:before {
      left: 255px;
      top: 28px; }
    .left_about_me_title:after {
      right: 255px;
      top: 28px; }
  .page_about_ava {
    display: block;
    margin: 0 auto; }
  .who_am_i:before {
    left: 280px;
    top: 17px; }
  .who_am_i:after {
    right: 280px;
    top: 17px; }
  .skills_list {
    width: 89%;
    text-align: center; } }

@media screen and (max-width: 1200px) {
  .triangles_blog {
    height: 85.7px;
    bottom: 9px; } }

@media screen and (max-width: 1110px) {
  .triangles_blog {
    height: 73.7px;
    bottom: 3px; } }

@media screen and (max-width: 992px) {
  .triangles_blog {
    height: 62.7px;
    bottom: 0; } }

@media screen and (max-width: 768px) {
  .blog_left__col {
    display: none; }
  .blog_right__col {
    width: 100%; }
  .blog_content {
    padding-left: 10px; }
  .blog_footer {
    margin-top: 0; }
  .blog_menu__link {
    padding: 10px;
    display: block;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7); }
  .blog_menu__item {
    margin-bottom: 20px; }
    .blog_menu__item.active {
      color: #fff; }
  .blog_overlay {
    display: block;
    position: fixed;
    top: 0;
    left: -80%;
    background: #07ac99;
    height: 100%;
    width: 80%; }
  .blog_menu-button {
    display: block;
    background: #07ac99;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 43%;
    right: -25px; }
  .fa.fa-chevron-right.blog, .fa.fa-chevron-left.blog {
    position: absolute;
    right: 3px;
    top: 36%;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer; }
  .fa.fa-chevron-left.blog {
    display: none; }
  .blog_menu-overlay {
    top: 20%; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  .fa-check-login {
    left: 102px; } }

html, body {
  height: 100%; }

body {
  box-sizing: border-box;
  font-family: 'roboto-regular';
  font-size: 16px;
  margin: 0;
  padding: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

p {
  padding: 0; }
