@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: url(../img/welcome-bg.jpg) no-repeat center;
  box-sizing: border-box; }

.wrapper__welcome {
  display: table;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  margin-bottom: -100px;
  position: relative; }

.wrapper-welcome:after {
  content: '';
  display: block;
  height: 100px; }

.footer {
  min-width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff; }

.welcome_login {
  font-family: 'roboto-medium';
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: rgba(154, 189, 191, 0.1);
  margin: 25px 20px 0 0;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer; }
  .welcome_login:hover {
    background-color: #fff;
    color: #07ac99; }

.avatar__vert__align__wrap {
  display: table-cell;
  vertical-align: middle; }

.avatar {
  max-width: 380px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: auto;
  color: #455a64;
  text-align: center; }

.flipover {
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s; }

.avatar__img {
  width: 142px;
  height: 142px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 40px auto; }

.ava__img {
  border-radius: 50%;
  padding: 40px; }

.avatar_name {
  font-family: 'roboto-medium';
  font-size: 1.7em;
  margin: 10px auto; }

.welcome__nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

.welcome__nav__item {
  display: table-cell;
  border-right: 1px solid #fff; }

.welcome__nav__item:last-child {
  border: none; }

.welcome__nav__link {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #07ac99; }
  .welcome__nav__link:hover {
    background-color: #009688; }
  .welcome__nav__link:last-child {
    border: none; }

.welcome__social__list {
  width: 50%;
  margin: 20px auto;
  padding: 0; }
  .welcome__social__list:before, .welcome__social__list:after {
    content: "";
    display: table; }
  .welcome__social__list:after {
    clear: both; }

.welcome__social__item {
  display: inline-block;
  margin-left: 15px; }
  .welcome__social__item:first-child {
    margin-left: 0; }

.welcome__social__link {
  padding: 5px; }

.svg_welcome_social {
  fill: #07ac99; }
  .svg_welcome_social:hover {
    fill: #009688; }

.log__in__wrapper {
  display: table;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  position: relative; }

.login__vert__align__wrap {
  display: table-cell;
  vertical-align: middle; }

.log__in__welcome {
  max-width: 380px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: auto;
  color: #455a64;
  text-align: center; }

.flipover_hidden {
  display: none; }

.log__in__header {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-distressed';
  font-size: 2.2em;
  font-weight: normal;
  color: #455a64; }
  .log__in__header:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 40px;
    top: 74px; }
  .log__in__header:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 40px;
    top: 74px; }

.form__group__log-in {
  width: 100%;
  margin: 5px auto;
  position: relative; }

.log-in__label {
  display: block;
  position: relative; }

.log-input {
  display: block;
  width: 87%;
  height: 45px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
  outline: none; }

.login-key, .login-user {
  display: block;
  position: absolute;
  top: 2px;
  left: 24px;
  background-color: #f0efe9;
  color: #c4cbcd;
  padding: 7px;
  width: 42px;
  height: 42px; }
  .login-key:before, .login-user:before {
    position: absolute;
    top: 22px;
    left: 22px; }

.login_input_text {
  padding: 5px 0;
  text-indent: 70px;
  outline: none; }

.fa.fa-check-square {
  display: block;
  position: absolute;
  top: 3px;
  left: 140px;
  padding: 0;
  color: #07ac99; }

.radio {
  position: relative;
  margin-bottom: 10px; }

.checkbox {
  display: block;
  position: relative; }

.login__radio {
  margin-right: 20px; }
  .login__radio:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #cfcfd0;
    border-radius: 50%;
    background: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -18px; }
  .login__radio:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #07ac99;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 97px; }
  .login__radio span {
    padding-left: 7px; }

.login_nav_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

.login_nav_item {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #fff; }
  .login_nav_item:last-child {
    border: none; }

.login_nav_link {
  display: block;
  float: left;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #07ac99; }
  .login_nav_link:hover {
    background-color: #009688; }
  .login_nav_link:last-child {
    border: none; }

.log__in__wrapper {
  display: table;
  width: 100%;
  max-width: 1800px;
  height: 100%;
  position: relative; }

.login__vert__align__wrap {
  display: table-cell;
  vertical-align: middle; }

.log__in__welcome {
  max-width: 380px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin: auto;
  color: #455a64;
  text-align: center; }

.flipover_hidden {
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  transition: 0.8s; }

.log__in__header {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-family: 'bernier-distressed';
  font-size: 2.2em;
  font-weight: normal;
  color: #455a64; }
  .log__in__header:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 40px;
    top: 74px; }
  .log__in__header:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 40px;
    top: 74px; }

.form__group__log-in {
  width: 100%;
  margin: 5px auto;
  position: relative; }

.log-in__label {
  display: block;
  position: relative; }

.log-input {
  display: block;
  width: 87%;
  height: 45px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #fff;
  outline: none; }

.login-key, .login-user {
  display: block;
  position: absolute;
  top: 2px;
  left: 24px;
  background-color: #f0efe9;
  color: #c4cbcd;
  padding: 7px;
  width: 42px;
  height: 42px; }
  .login-key:before, .login-user:before {
    position: absolute;
    top: 22px;
    left: 22px; }

.login_input_text {
  padding: 5px 0;
  text-indent: 70px;
  outline: none; }

.fa.fa-check-square {
  display: block;
  position: absolute;
  top: 3px;
  left: 140px;
  padding: 0;
  color: #07ac99; }

.radio {
  position: relative;
  margin-bottom: 10px; }

.checkbox {
  display: block;
  position: relative; }

.login__radio {
  margin-right: 20px; }
  .login__radio:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #cfcfd0;
    border-radius: 50%;
    background: #fff;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -18px; }
  .login__radio:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #07ac99;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 97px; }
  .login__radio span {
    padding-left: 7px; }

.login_nav_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table; }

.login_nav_item {
  display: table-cell;
  width: 50%;
  border-right: 1px solid #fff; }
  .login_nav_item:last-child {
    border: none; }

.login_nav_link {
  display: block;
  float: left;
  width: 100%;
  padding: 15px 0;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  background-color: #07ac99; }
  .login_nav_link:hover {
    background-color: #009688; }
  .login_nav_link:last-child {
    border: none; }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.work__items {
  width: 100%;
  height: 100%; }
  .work__items:before, .work__items:after {
    content: "";
    display: table; }
  .work__items:after {
    clear: both; }

.active__item__description {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: #f0efe9; }

.a-i-d_center {
  max-width: 420px;
  max-height: 250px;
  margin: 0 auto;
  margin-top: 23vh;
  text-align: center;
  text-transform: uppercase; }
  .a-i-d_center:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 85px;
    top: 125px; }
  .a-i-d_center:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 85px;
    top: 125px; }

.a-i-d_title {
  font-family: 'bernier-regular';
  font-size: 40px;
  margin-bottom: 20px; }

.a-i-d_text {
  color: #07ac99;
  border-top: 2px solid #07ac99;
  border-bottom: 2px solid #07ac99;
  padding: 5px 0;
  margin-bottom: 20px; }

.a-i-d_button {
  position: relative;
  background-color: #07ac99;
  padding: 10px 35px;
  border-radius: 5px; }

.a-i-d_link {
  color: #fff;
  text-decoration: none; }

.svg_works_link {
  position: absolute;
  left: -46px;
  top: 9px; }

.work__items__slider {
  width: 50%;
  height: 100%;
  float: right;
  background-color: #efebe0; }
  .work__items__slider:before, .work__items__slider:after {
    content: "";
    display: table; }
  .work__items__slider:after {
    clear: both; }

.work__item__active {
  width: 100%;
  height: 50%; }

.works_slides {
  position: relative;
  height: 50%; }

.work__items__list {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0; }

.work__item {
  margin: 0 auto;
  display: inline-block;
  width: 49%;
  vertical-align: bottom; }

.svg_works_arrow_down {
  position: absolute;
  fill: rgba(255, 255, 255, 0.7);
  top: 43%;
  left: 20%; }

.svg_works_arrow_up {
  position: absolute;
  fill: rgba(255, 255, 255, 0.7);
  top: 43%;
  left: 70%; }

.work_img {
  max-width: 100%; }

.svg_about_people_say {
  position: absolute;
  top: -60px;
  left: -100px;
  opacity: .1; }

.people__feedback {
  width: 100%;
  max-width: 1800px;
  overflow: hidden;
  background: url(../img/about_bg_cut.jpg) no-repeat center;
  background-size: cover;
  z-index: 1; }

.people_say {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 70px auto;
  width: 32%; }
  .people_say:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: -27px;
    top: 17px; }
  .people_say:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: -27px;
    top: 17px; }

.my_works_text {
  font-family: 'bernier-regular';
  font-size: 43px; }

.blockquote_left {
  padding-left: 41px; }

.fa.fa-quote-left {
  color: #d4d7d8; }

.feedback_list {
  display: table;
  margin: 0 auto;
  width: 72%; }

.people__feedback__item {
  display: table-cell;
  vertical-align: top;
  text-align: justify;
  padding: 10px;
  width: 50%;
  height: 100%; }
  .people__feedback__item:before, .people__feedback__item:after {
    content: "";
    display: table; }
  .people__feedback__item:after {
    clear: both; }

.tutor__avatar {
  padding-left: 10%;
  margin-top: 30px; }
  .tutor__avatar:before, .tutor__avatar:after {
    content: "";
    display: table; }
  .tutor__avatar:after {
    clear: both; }

.tutor_img {
  border-radius: 50%; }

.tutor_name {
  color: #07ac99;
  float: right;
  width: 70%; }

.tutor_surname {
  margin-bottom: 0; }

.tutor_position {
  padding: 0;
  margin: 0; }

.feedback__form {
  margin: 20px auto;
  margin-bottom: 85px;
  width: 380px;
  text-indent: 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-filter: blur(1px);
  filter: blur(1px); }

.feedback_form_input, .feedback__form_textarea {
  display: block;
  width: 80%;
  outline: none;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
  border-width: 0;
  border-style: none;
  border-color: none; }

.feedback__form_textarea {
  resize: none; }

.feedback_form_label {
  position: relative;
  display: block;
  width: 100%;
  font-family: 'bernier-regular';
  text-align: center;
  padding: 20px;
  font-size: 35px;
  box-sizing: border-box; }
  .feedback_form_label:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 25px;
    top: 38px; }
  .feedback_form_label:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 25px;
    top: 38px; }

.buttons_list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block; }
  .buttons_list:before, .buttons_list:after {
    content: "";
    display: table; }
  .buttons_list:after {
    clear: both; }

.button_item {
  display: block;
  float: left;
  width: 50%;
  padding: 15px 0;
  border-width: 0;
  border-style: none;
  border-right: 1px solid #fff;
  color: #fff;
  background-color: #07ac99;
  box-sizing: border-box; }
  .button_item:hover {
    background-color: #009688; }
  .button_item:last-child {
    border: none; }

.button__submit {
  border-radius: 0 0 0 5px; }

.button__reset {
  border-radius: 0 0 5px 0; }

.svg_works_arrow_up2 {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  fill: rgba(255, 255, 255, 0.7); }

@font-face {
  font-family: 'bernier-distressed';
  src: url("../fonts/bernierdistressed-regular-webfont.eot");
  src: url("../fonts/bernierdistressed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierdistressed-regular-webfont.woff2") format("woff2"), url("../fonts/bernierdistressed-regular-webfont.woff") format("woff"), url("../fonts/bernierdistressed-regular-webfont.ttf") format("truetype"), url("../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-regular';
  src: url("../fonts/bernierregular-regular-webfont.eot");
  src: url("../fonts/bernierregular-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bernierregular-regular-webfont.woff2") format("woff2"), url("../fonts/bernierregular-regular-webfont.woff") format("woff"), url("../fonts/bernierregular-regular-webfont.ttf") format("truetype"), url("../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'bernier-shade';
  src: url("../fonts/fonts/berniershade-regular-webfont.eot");
  src: url("../fonts/berniershade-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/berniershade-regular-webfont.woff2") format("woff2"), url("../fonts/berniershade-regular-webfont.woff") format("woff"), url("../fonts/berniershade-regular-webfont.ttf") format("truetype"), url("../fonts/berniershade-regular-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'awesome';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg#bernier_distressedregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: url(../img/welcome-bg.jpg) no-repeat center;
  box-sizing: border-box; }

.inner__pages__header {
  width: 100%;
  max-width: 1800px;
  height: 100%; }
  .inner__pages__header:before, .inner__pages__header:after {
    content: "";
    display: table; }
  .inner__pages__header:after {
    clear: both; }

.header__socials {
  float: left;
  margin: 15px 0 0 0;
  padding-left: 20px; }

.header__soc__item {
  display: inline-block;
  margin: 0 10px;
  text-align: center; }

.svg_inner_header {
  fill: rgba(255, 255, 255, 0.7); }
  .svg_inner_header:hover {
    fill: #fff; }

.hamburger {
  float: right;
  margin: 20px 20px 0 0;
  cursor: pointer; }

.portfolio_bg {
  position: absolute;
  top: 30%;
  left: 5%; }

.svg_portfolio_bg {
  fill: rgba(255, 255, 255, 0.1);
  width: 100%; }

.avatar__inner {
  margin: 0 auto;
  margin-top: 150px;
  color: #fff;
  text-align: center; }

.ava__inner {
  border: 2px solid #fff;
  border-radius: 50%; }

.ava__title {
  margin-bottom: 10px; }

.arrow__down {
  margin-top: 8%; }

.svg_inner_header_arrow {
  margin: 0 auto;
  margin-bottom: 5%;
  opacity: .7; }

.triangles {
  position: relative;
  width: 100%; }

.inner_header_triangle {
  position: absolute;
  bottom: 135px;
  left: 0;
  fill: #faf8f0; }

.title__inner {
  width: 100%;
  height: 135px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #faf8f0;
  text-transform: uppercase;
  text-align: center; }
  .title__inner:before {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    left: 385px;
    top: 72px; }
  .title__inner:after {
    content: "";
    width: 25px;
    height: 6px;
    background-color: #c5cbcd;
    position: absolute;
    right: 385px;
    top: 72px; }

.title__inner__text {
  font-family: 'bernier-distressed';
  font-weight: normal;
  font-style: normal; }

.title__inner__text {
  margin: 0;
  font-size: 60px; }

.svg_inner_works {
  position: relative;
  bottom: 98px;
  opacity: .2; }

.upper__footer, .down__footer {
  width: 100%;
  max-width: 1800px;
  background: #2f4449;
  color: #fff;
  border-bottom: 1px solid #606e72; }
  .upper__footer:before, .upper__footer:after, .down__footer:before, .down__footer:after {
    content: "";
    display: table; }
  .upper__footer:after, .down__footer:after {
    clear: both; }

.footer__navy {
  float: left; }

.footer__navy__item {
  display: inline-block;
  padding: 15px 0;
  margin-left: 30px; }
  .footer__navy__item:first-child {
    margin-left: 0;
    padding-left: 0; }

.footer__socials {
  float: right;
  margin-right: 15px; }

.footer_socials_item {
  display: inline-block;
  margin-left: 15px; }
  .footer_socials_item:first-child {
    margin-left: 0; }

.svg_footer {
  cursor: pointer; }
  .svg_footer:hover {
    fill: rgba(255, 255, 255, 0.5); }

.down__footer {
  border: none;
  color: #606e72; }
  .down__footer:before, .down__footer:after {
    content: "";
    display: table; }
  .down__footer:after {
    clear: both; }

.down__footer__left {
  float: left;
  width: 40%; }

.down__footer__right {
  float: right; }

.footer_socials_item {
  display: inline-block; }

html, body {
  height: 100%; }

body {
  box-sizing: border-box;
  font-family: 'roboto-regular';
  font-size: 16px; }

li {
  list-style: none; }

p {
  padding: 0; }
