section.inner__pages__header
            ul.header__socials
                    each val, index in {'vk': 'https://vk.com', 'github':'https://github.com', 'linkedin':'https://linkedin.com'}             
                        li.footer_socials_item= index
                            a.footer__socials__link(href= val)
            nav.hamburger
            div.avatar
                img(src="app/img/ava.jpg", alt="avatar")
                h3 Максим Рудик
                span Личный сайт веб-разработчика отважного летчика
                div.arrow__down
            div(class="box")
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="traingle")
            polygon(points="0,0   0,86   500.8,86   500.8,75.5")
            polygon(points="1000,0   1000,86   500,86   500,75.5")
  