footer.footer
            div.upper__footer
                nav.footer__navy
                    ul.footer__navy__list
                        each val, index in {'Мои работы':'my_works.html', 'Обо мне':'about_me.html', 'Блог':'my_blog.html', 'Авторизация':'admin_panel.html'}
                            li.footer__navy__item= index
                                a.footer__navy__link(href= val)
                ul.footer__socials
                    each val, index in {'vk': 'https://vk.com', 'github':'https://github.com', 'linkedin':'https://linkedin.com'}             
                        li.footer_socials_item= index
                            a.footer__socials__link(href= val)
            div.down__footer
                div.down__footer__left
                    p Я веб-разработчик из г. Геленджика и этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool.
                div.down__footer__right
                    p &copy Максим Рудик | создано с любовью в Loftschool | 2016