doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= portfolio
    link(rel='stylesheet', href='app/bower/normalize-css/normalize.css')   
    link(rel='stylesheet', href='app/css/main.css')
    script(src='app/bower/jquery/dist/jquery.min.js')
    script(src='app/js/main.js')