extends layout
block content
    div.wrapper__welcome
        div.parallax
            div.parallax-bg
                img(src="app/img/parallax-bg.jpg")        
        button.welcome_login Авторизоваться
        div.avatar__vert__align__wrap.flip_container
            div.flipper
                div.front
                    div.avatar
                        div.avatar__img__store
                            img.ava__img(src="app/img/ava.jpg")                    
                        h3.avatar_name Максим Рудик
                        span Личный сайт веб-разработчика
                        ul.welcome__social__list                    
                            li.welcome__social__item
                                a.welcome__social__link
                                    svg(class="svg-socials--vk-dims svg_welcome_social vk" width ="30.011" height="17.123" viewbox="0 0 30.011 17.123")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#vk")
                            li.welcome__social__item
                                a.welcome__social__link
                                    svg(class="svg-socials--github-dims svg_welcome_social github" width ="26" height="22" viewbox="0 0 26 22")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#github")                    
                            li.welcome__social__item
                                a.welcome__social__link
                                    svg(class="svg-socials--in-dims svg_welcome_social linkedin" width ="24" height="23" viewbox="0 0 24 23")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#in")                
                        ul.welcome__nav__list
                            li.welcome__nav__item
                                a.welcome__nav__link(href="my_works.html") Мои работы
                            li.welcome__nav__item
                                a.welcome__nav__link(href="about_me.html") Обо мне
                            li.welcome__nav__item
                                a.welcome__nav__link(href="my_blog.html") Блог
                div.back
                    div.log__in__welcome
                        div.log__in__header
                            h3 Авторизуйтесь
                        div.form__group__log-in
                            label.log-in__label
                                i(class="fa fa-key login-key", aria-hidden="true")
                                input.log-input(id="login", name="login", type="text", placeholder="Логин" class="login_input_text")
                        div.form__group__log-in
                            label.log-in__label
                            i(class="fa fa-user login-user" aria-hidden="true")
                            input.log-input(id="password", name="password", type="text", placeholder="Пароль" class="login_input_text")
                        div.capcha
                            div.checkbox
                                i(class="fa fa-check-square fa-lg" aria-hidden="true")
                                input(type="checkbox", name="checkbox")
                                label Я человек                    
                        h4 Вы точно не робот?
                        div.radio
                            label.login__radio
                                input(type="radio", checked="checked", name="yes")
                                span Да
                            label.login__radio 
                                input(type="radio", checked="checked", name="yes")
                                span Не уверен
                        ul.login_nav_list
                            li.login_nav_item
                                a.login_nav_link(href="#" alt="#") На главную
                            li.login_nav_item
                                a.login_nav_link(href="#" alt="#") Войти                    
    footer.footer_welcome &copy Максим Рудик | создано с любовью в Loftschool | 2016
    div.modal_window
        div.modal_nav
            ul.modal_nav_list
                li.modal_nav_item
                    a.modal_nav_link(href="my_works.html") Мои работы
                li.modal_nav_item
                    a.modal_nav_link(href="about_me.html") Обо мне
                li.modal_nav_item
                    a.modal_nav_link(href="my_blog.html") Блог
                li.modal_nav_item
                    a.modal_nav_link(href="index.html") Авторизация
        div.overlay
        div.modal_close
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="app/js/main.js")
    script(src="app/js/my_parallax.js" defer)