extends layout
block content
    div.wrapper__welcome        
        button.welcome_login Авторизоваться
        div.avatar
            div.avatar__img                    
            h3.avatar_name Максим Рудик
            span Личный сайт веб-разработчика
            ul.welcome__social__list
                li.welcome__social__item.vk
                    a.welcome__social__link(href="http://vk.com") vk
                li.welcome__social__item.github
                    a.welcome__social__link(href="http://github.com") github
                li.welcome__social__item.linkedin
                    a.welcome__social__link(href="http://linkedin.com") linkedin
            nav.welcome__nav
                ul.welcome__nav__list
                    li.welcome__nav__item
                        a.welcome__nav__link(href="my_works.html") Мои работы
                    li.welcome__nav__item
                        a.welcome__nav__link(href="about_me.html") Обо мне
                    li.welcome__nav__item
                        a.welcome__nav__link(href="my_blog.html") Блог        
    footer.footer &copy Максим Рудик | создано с любовью в Loftschool | 2016