extends layout
block content
    div.wrapperWelcome
        div.parallax
            div.parallax__bg
                img(src="app/img/parallax-bg.jpg" alt="parallax")        
        button.wrapperWelcome__login Авторизоваться
        div.avatar__vert__align__wrap.flipContainer
            div.flipper
                div.flipper__front
                    div.avatar
                        div.avatar__imgStore
                            img.avatar__img(src="app/img/ava.jpg" alt="ava")                    
                        h3.avatar__name Максим Рудик
                        span Личный сайт веб-разработчика
                        ul.welcome__social--list                    
                            li.welcome__social--item
                                a.welcome__social--link(href="https://vk.com" target="blank")
                                    svg(class="svg-socials--vk-dims svg__welcome--social vk" width ="30.011" height="17.123" viewbox="0 0 30.011 17.123")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#vk")
                            li.welcome__social--item
                                a.welcome__social--link(href="https://github.com" target="blank")
                                    svg(class="svg-socials--github-dims svg__welcome--social github" width ="26" height="22" viewbox="0 0 26 22")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#github")                    
                            li.welcome__social--item
                                a.welcome__social--link(href="https://linkedin.com" target="blank")
                                    svg(class="svg-socials--in-dims svg__welcome--social linkedin" width ="24" height="23" viewbox="0 0 24 23")
                                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#in")                
                        ul.flipper__nav--list
                            li.flipper__nav--item
                                a.flipper__nav--link(href="my_works.html") Мои работы
                            li.flipper__nav--item
                                a.flipper__nav--link(href="about_me.html") Обо мне
                            li.flipper__nav--item
                                a.flipper__nav--link(href="my_blog.html") Блог
                div.flipper__back
                    div.flipper-log-in
                        div.flipper-log-in__header
                            h3 Авторизуйтесь
                        div.form-group__log-in
                            label.form-group__label
                                i(class="fa fa-key login-key", aria-hidden="true")
                                input.log-input(id="login", name="login", type="text", placeholder="Логин" class="login-input--text")
                        div.form-group__log-in
                            label.form-group__label
                            i(class="fa fa-user login-user" aria-hidden="true")
                            input.log-input(id="password", name="password", type="text", placeholder="Пароль" class="login-input--text")
                        div.capcha
                            div.checkbox
                                div.fa-check-login
                                i(class="fa fa-check-square fa-lg" aria-hidden="true")
                                input(type="checkbox", name="checkbox")
                                label.checkbox_label Я человек                    
                        h4 Вы точно не робот?
                        div.radio
                            label.login__radio.login__radio-left Да
                                input(type="radio", checked="checked", name="yes")
                                //- span Да
                            label.login__radio.login__radio-right Не уверен
                                input(type="radio", checked="checked", name="yes")
                                //- span Не уверен
                        ul.login-nav-list
                            li.login-nav__item
                                a.login-nav__link(href="#" alt="#") На главную
                            li.login-nav_item
                                a.login-nav__link(href="#" alt="#") Войти                    
    footer.footerWelcome &copy; Максим Рудик | создано с любовью в Loftschool | 2016
    div.modal_window
        div.modal_nav
            ul.modal_nav_list
                li.modal_nav_item
                    a.modal_nav_link(href="my_works.html") Мои работы
                li.modal_nav_item
                    a.modal_nav_link(href="about_me.html") Обо мне
                li.modal_nav_item
                    a.modal_nav_link(href="my_blog.html") Блог
                li.modal_nav_item
                    a.modal_nav_link(href="index.html") Авторизация
        div.overlay
        div.modal_close
    script(src="bower_components/jquery/dist/jquery.min.js")
    //- script(src="app/js/main.js")
    //- script(src="app/js/my_parallax.js" defer)
    script(src="app/js/all.js")