footer.inner_footer
            div.upper__footer
                nav.footer__navy
                    ul.footer__navy__list
                        each val, index in {'Мои работы':'my_works.html', 'Обо мне':'about_me.html', 'Блог':'my_blog.html', 'Авторизация':'admin_panel.html'}
                            li.footer__navy__item= index
                                a.footer__navy__link(href= val)
                ul.footer__socials
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-vk_round-dims svg_footer vk" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#vk_round")                    
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-github_round-dims svg_footer github" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#github_round")
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-in_round-dims svg_footer linkedin" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#in_round")

            div.down__footer
                div.down__footer__left
                    p Я веб-разработчик из г. Геленджика и этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool.
                div.down__footer__right
                    p &copy Максим Рудик | создано с любовью в Loftschool | 2016