div.modal_window
        div.modal_nav
            ul.modal_nav_list
                li.modal_nav_item
                    a.modal_nav_link(href="my_works.html") Мои работы
                li.modal_nav_item
                    a.modal_nav_link(href="about_me.html") Обо мне
                li.modal_nav_item
                    a.modal_nav_link(href="my_blog.html") Блог
                li.modal_nav_item
                    a.modal_nav_link(href="index.html") Авторизация
        div.overlay
        div.modal_close