extends layout
block content
    div.wrapper
        div.works_background_container
            section.inner__pages__header(id="pageTop")                                          
                ul.header__socials
                    li.header__soc__item
                        a.header__soc__link(href="#" alt="#")
                            svg(class="svg-socials--vk-dims svg_inner_header vk" width ="30.011px" height="17.123px" viewbox="0 0 30.011 17.123")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#vk")
                    li.header__soc__item
                        a.header__soc__link(href="#" alt="#")
                            svg(class="svg-socials--github-dims svg_inner_header github" width ="26px" height="22px" viewbox="0 0 26 22")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#github")
                    li.header__soc__item
                        a.header__soc__link(href="#" alt="#")
                            svg(class="svg-socials--in-dims svg_inner_header linkedin" width ="24px" height="23px" viewbox="0 0 24 23")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#in")             
                div.hamburger
                    div.hamburger-top
                    div.hamburger-mid
                    div.hamburger-bottom
                    //- svg(class="svg-hamburger-dims svg_inner_hamburger" width ="40px" height="35px" viewbox="0 0 40 35")
                    //-     use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/hamburger.svg")
                    //- svg(class="svg-hamburger-dims svg_inner_hamburger" width ="40px" height="35px" viewbox="0 0 40 35")
                    //-     use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#hamburger")
                div.portfolio_bg
                    svg(class="svg-portfolio_header-dims svg_portfolio_bg" width="1175.495px" height="313.961px" viewBox="0 0 1175.495 313.961" enable-background="new 0 0 1175.495 313.961")
                            use(xlink:href="app/icons/sprites/sprite_social.svg#portfolio_header")
                div.avatar__inner.avatar__inner-myWorks
                    img.ava__inner(src="app/img/ava.jpg", alt="avatar")
                    h3.ava__title Максим Рудик
                    span Личный сайт веб-разработчика
                    div.arrow__down
                      svg(class="svg-arrow_down-dims svg_inner_header_arrow" style="cursor:pointer"  width="25.18px" height="16.164px" viewBox="0 0 25.18 16.164")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#arrow_down")            
        div.triangles             
            svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class="inner_header_triangle")
                polygon.trian_left(points="0,0   0,86   500.8,86   500.8,75.5")
                polygon.trian_right(points="1000,0   1000,86   500,86   500,75.5")
        div.title__inner
            h1.title__inner__text Мои работы
            svg(class="svg-works_header-dims svg_inner_works" width="505.101px" height="165.036px" viewBox="0 0 505.101 165.036")
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#works_header")
            //- include inner_header 
        section.work__items            
            //- div.work__items__slider
            div.slider_top
                div.slider__display-top
                    ul.slider_preview-top(id="slider_preview-top")
            div.active__item__description
                div.a-i-d_center
                    div.a-i-d_title(id="a-i-d_title") 
                    div.a-i-d_text html, css, javascript
                    button.a-i-d_button
                        svg(class="svg-socials--link-dims svg_works_link" viewbox="0 0 200 30")
                            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#link")
                        a.a-i-d_link(href="#" alt="link_to_site" target="blank") Посмотреть сайт
            div.works_preview                
                div.slider__display.slider__display-left
                    svg(class="svg-portf_arrow_down-dims svg_works_arrow_down" id="works_arrow-down" width="42.736px" height="27.435px" viewBox="0 0 42.736 27.435")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#portf_arrow_down")
                    ul.slider_prewiew-down(id="slider_preview-down")
                div.slider__display.slider__display-right
                    svg(class="svg-portf_arrow_up-dims svg_works_arrow_up" id="works_arrow-up" width="42.736px" height="27.435px" viewBox="0 0 42.736 27.435")
                        use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#portf_arrow_up")   
                    ul.slider_prewiew-up(id="slider_preview-up")
                       
             
        section.people__feedback
            div.people_say
                svg(class="svg-about_header-dims svg_about_people_say" width="498.161px" height="175.44px" viewBox="0 0 498.161 175.44")
                    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#about_header")
                h1.my_works_text Что обо мне говорят
            div.feedback_list
                div.people__feedback__item
                    div.blockquote_left
                        i(class="fa fa-quote-left fa-2x" aria-hidden="true")
                        blockquote Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                    div.tutor__avatar
                        img.tutor_img(src='app/img/dima.jpg' alt='Да это же Дима!')
                        div.tutor_name
                            h4.tutor_surname Ковальчук Дмитрий
                            p.tutor_position основатель LoftSchool
                div.people__feedback__item
                    div.blockquote_left
                        i(class="fa fa-quote-left fa-2x" aria-hidden="true")
                        blockquote Этот код выдержит любые испытания. Только пожалуйста, не загружайте этот сайт на слишком старых браузерах!
                    div.tutor__avatar
                        img.tutor_img(src='app/img/zar.jpg' alt='Да это же Зар!')
                        div.tutor_name
                            h4.tutor_surname Зар Захаров
                            p.tutor_position главный преподаватель
            form.feedback__form(id = "feedback_form")
                label.feedback_form_label Связаться со мной
                input.feedback_form_input(name="name", placeholder="имя")
                input.feedback_form_input(name="email", placeholder="Email")
                textarea.feedback__form_textarea(name="text", rows="3", placeholder="Ваше сообщение")
                div.buttons_list
                    button.button_item(type="submit", class="button__submit") Отправить
                    button.button_item(type="reset", class="button__reset") Очистить
            div.works_arrow_up
                svg(class="svg-portf_arrow_up-dims svg_works_arrow_up2" href="pageTop" style="cursor:pointer" width="42.736px" height="27.435px" viewBox="0 0 42.736 27.435")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#portf_arrow_up")
        footer.inner_footer.works_footer
            div.upper__footer
                nav.footer__navy
                    ul.footer__navy__list
                        each val, index in {'Мои работы':'my_works.html', 'Обо мне':'about_me.html', 'Блог':'my_blog.html', 'Авторизация':'admin_panel.html'}
                            li.footer__navy__item= index
                                a.footer__navy__link(href= val)
                ul.footer__socials
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-vk_round-dims svg_footer vk" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#vk_round")                    
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-github_round-dims svg_footer github" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#github_round")
                    li.footer_socials_item
                        a.footer__socials__link
                            svg(class="svg-in_round-dims svg_footer linkedin" width="50px" height="50px" viewBox="0 0 50 50")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="app/icons/sprites/sprite_social.svg#in_round")

            div.down__footer
                div.down__footer__left
                    p Я веб-разработчик из г. Геленджика и этот сайт я сделал в рамках обучения в Школе онлайн-образования LoftSchool.
                div.down__footer__right
                    p &copy Максим Рудик | создано с любовью в Loftschool | 2016    
        //- include inner_footern
    include modal_window        
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/qtip2/jquery.qtip.js")
    script(src="app/js/main.js")
    script(src="app/js/slider_module.js" defer)
    script(src="app/js/validation.js" defer)
    script(src="app/js/contactMe.js" defer)
    script(src="app/js/my_parallax.js" defer)
    script(src="app/js/hamburger.js" defer)

        
