extends layout
block content
    wrapper.wrapper
        include inner_header 
        section.work__items
            div.active__item__description
                h4 Сайт школы онлайн-образования
                p html, css, javascript
                button.button
                    a(href="#" alt="link_to_site") Посмотреть сайт
            div.work__items__store
                div.work__item__active Картинки активного сайта                    
                ul.work__items__list
                    li.work__item
                        a.work__link(href="#") Сайт1
                    li.work__item
                        a.work__link(href="#") Сайт2
                    li.work__item
                        a.work__link(href="#") Сайт3
        section.people__feedback
            h1 Что обо мне говорят
            div.people__feedback__item
                p.
                    Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                div.tutor__avatar
                    img(src='#' alt='Да это же Дима!')
                p Ковальчук Дмитрий
                    span основатель LoftSchool
            div.people__feedback__item
                p.
                    Этот код выдержит любые испытания. Только пожалуйста, не загружайте этот сайт на слишком старых браузерах!
                div.tutor__avatar
                    img(src='#' alt='Да это же Зар!')
                p Зар Захаров
                    span главный преподаватель
                div.feedback__form
                    label Связаться со мной
                    input(name="name", placeholder="имя")
                    input(name="email", placeholder="Email")
                    textarea(name="text", rows="3", placeholder="Ваше сообщение")
                    button(type="submit", class="button__submit") Отправить
                    button(type="reset", class="button__reset") Очистить
        include includes/common_footer.jade


        
