@font-face {
  font-family: 'bernier-distressed';
  src: url('../fonts/bernierdistressed-regular-webfont.eot');
  src: url('../fonts/bernierdistressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bernierdistressed-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernierdistressed-regular-webfont.woff') format('woff'),
  url('../fonts/bernierdistressed-regular-webfont.ttf') format('truetype'),
  url('../fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bernier-regular';
  src: url('../fonts/bernierregular-regular-webfont.eot');
  src: url('../fonts/bernierregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/bernierregular-regular-webfont.woff2') format('woff2'),
  url('../fonts/bernierregular-regular-webfont.woff') format('woff'),
  url('../fonts/bernierregular-regular-webfont.ttf') format('truetype'),
  url('../fonts/bernierregular-regular-webfont.svg#bernier_distressedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bernier-shade';
  src: url('../fonts/fonts/berniershade-regular-webfont.eot');
  src: url('../fonts/berniershade-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/berniershade-regular-webfont.woff2') format('woff2'),
  url('../fonts/berniershade-regular-webfont.woff') format('woff'),
  url('../fonts/berniershade-regular-webfont.ttf') format('truetype'),
  url('../fonts/berniershade-regular-webfont.svg#bernier_distressedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'awesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg#bernier_distressedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-light';
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-light-webfont.woff2') format('woff2'),
  url('../fonts/roboto-light-webfont.woff') format('woff'),
  url('../fonts/roboto-light-webfont.ttf') format('truetype'),
  url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../fonts/roboto-medium-webfont.woff') format('woff'),
  url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
  url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
  url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}