@import "_color.scss";
.wrapper__welcome{
	width:100%;	
	min-height: 100%;	
	margin-bottom: -100px;
	position:relative;
}
.wrapper-welcome:after {	
	content: '';
	display: block;
	height: 100px;
}
.footer{
	min-width: 100%;	
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #fff;
}

.welcome_login{
	position: absolute;
	right:0;
	top:0;
	color:#fff;
	background-color: $login_bg;
	margin: 25px 20px 0 0;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 15px 30px;
	cursor: pointer;
	&:hover{
		background-color: #fff;
		color: $welcome_nav;
	}	  
}
.avatar{
	position: absolute;
	max-width: 380px;
	height: 400px;
	background: rgba(255,255,255,.7);
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin: auto;
	color: $welcome_h3;
	text-align: center;	
}

.avatar__img{
	width: 142px;
	height: 142px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 40px auto;
	background:url(../img/ava.jpg)no-repeat center;
}
.avatar_name{
	margin-bottom: 10px;
}
.welcome__nav{
	// position: absolute;
	// bottom: 0;
	width: 380px;
}
.welcome__nav__list{	
	margin:0;
	padding:0;
	font-size:0;
	text-align: justify;
	& :after{
		content:"";
		display: inline-block;
		width: 100%;
		height:0;
	}

}
.welcome__nav__item{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 5px 30.8px;
	border-right: 1px solid #fff;	
	background-color:$welcome_nav;
	cursor: pointer;
	& :hover{
		background-color:$welcome_nav_hover;
	}
	
}
.welcome__nav__item:last-child{
		border: none;
	}

.welcome__nav__link{
	margin: 0;		
	text-decoration: none;
	color:#fff;
	font-size:16px;
}
//social icons
.welcome__social__list{
	width: 100%;
	margin:20px auto;
	padding:0;
}
.welcome__social__item{
	display: inline-block;	
	width: 31px;
	height: 23px;
	margin-left: 15px;	
	text-indent: 100%;//mixin - скрытие текста
  	white-space: nowrap;//
  	overflow: hidden;//
  	&:hover{
  		background-position-y: -23px;
  		cursor: pointer;
  	}
  	&:first-child{
  		margin-left:0;
  	}
}
.vk{
	background:url(../img/sprite_social.png);
	background-position: 0 0;
	
}
.github{
	background:url(../img/sprite_social.png);
	background-position: 56px 0;
}
.linkedin{
	background:url(../img/sprite_social.png);
	background-position: 28px 0;
}
