@import "_color.scss";
@import "_fonts.scss";
body{
	background: url(../img/welcome-bg.jpg) no-repeat center;
	box-sizing:border-box;
}
.wrapper__welcome{
	display:table;
	width:100%;
	max-width:1800px;	
	height: 100%;	
	margin-bottom: -100px;
	position:relative;
	
}
.wrapper-welcome:after {	
	content: '';
	display: block;
	height: 100px;
}
.footer{
	min-width: 100%;	
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #fff;
}

.welcome_login{
	font-family: 'roboto-medium';
	font-size:1em;
	position: absolute;
	right:0;
	top:0;
	color:#fff;
	background-color: $login_bg;
	margin: 25px 20px 0 0;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 15px 30px;
	cursor: pointer;
	&:hover{
		background-color: #fff;
		color: $welcome_nav;
	}	  
}
.avatar__vert__align__wrap{
	display:table-cell;
	vertical-align:middle;
}
.avatar{	
	max-width: 380px;	
	background: rgba(255,255,255,.7);
	border-radius: 5px;
	margin: auto;
	color: $welcome_h3;
	text-align: center;	
}

.avatar__img{
	width: 142px;
	height: 142px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 40px auto;
	
}
.ava__img{
	border-radius: 50%;
	padding:40px;
}

.avatar_name{
	font-family: 'roboto-medium';
	font-size:1.7em;
	margin: 10px auto;
}
.welcome__nav{
	
}
.welcome__nav__list{	
	margin:0;
	padding:0;
	width:100%;
	display: table;	
}
.welcome__nav__item{		
	display: table-cell;
	border-right: 1px solid #fff;	
}
.welcome__nav__item:last-child{
	border:none;	
}

.welcome__nav__link{
	display:block;
	width:100%;	
	overflow:hidden;
	padding: 15px 0;		
	text-decoration: none;
	color:#fff;
	font-size:16px;			
	background-color:$welcome_nav;
	&:hover{
		background-color:$welcome_nav_hover;
	}
	&:last-child{
		border: none;
	}
}
//social icons
.welcome__social__list{
	@include clearfix();
	width: 50%;
	margin:20px auto;
	padding:0;
}
.welcome__social__item{
	display: inline-block;	
	margin-left: 15px;	
  	&:first-child{
  		margin-left:0;
  	}
}
.welcome__social__link{
	padding: 5px;
}
.svg_welcome_social{
	fill:$welcome_nav;
	&:hover{
		fill:$welcome_nav_hover;
	}
}
