@import "_mixins.scss";
@import "_fonts.scss";
$trian_color:#faf8f0;
$dash: #c5cbcd;
$dash-left: 12px;
$dash-right: 12px;
$top: 36px;
$dash-left-1: 85px;
$dash-right-1: 85px;
$top-1: 125px;
body{
	// background: url(../img/welcome-bg.jpg) no-repeat center;
	// box-sizing:border-box;
}
.inner__pages__header{
	@include clearfix();
	width: 100%;
	max-width:1800px;
	height:100%;
	// height:auto;
	// min-height: 100%;	
	// background: url(../img/welcome-bg.jpg) top center;
	// background-repeat: no-repeat;
}

.header__socials{
	float: left;
	margin:15px 0 0 0;
	padding-left: 20px;

}
.header__soc__item{
	display:inline-block;
	margin: 0 10px;
	text-align: center;
}
.svg_inner_header{
	fill: rgba(255,255,255,.7);
	// z-index:10;
	&:hover{
		fill: #fff;
	}
}
.hamburger{
	width: 40px;
	height: 35px;
	cursor: pointer;
	position: absolute;
	top: 23px;
	right: 26px;
	z-index:10;
}
.hamburger-top,.hamburger-mid,.hamburger-bottom{
	width: 40px;
	height:5px;
	border-radius: 5px;
	background: #fff;
	z-index:10;
}
.hamburger-top{
	position:absolute;
	top:0;
	left:0;
}
.hamburger-topClose{
	position:absolute;
	top:16px;
	left:0;
	transform: rotate(-45deg);
	transition: all .3s;
}
.hamburger-mid{
	position:absolute;
	top:15px;
	left:0;
}
.hamburger-midClose{
	display:none;
	transition: .7s;
}
.hamburger-bottom{
	position:absolute;
	bottom:0;
	left:0;
}
.hamburger-bottomClose{
	position:absolute;
	bottom:14px;
	left:0;
	transform: rotate(45deg);
	transition: all .3s;
}
.portfolio_bg{
	width: 80%;
	margin: 0 auto;
	position: absolute;
	top: 30%;
	left:0;
	right:0;
}
.svg_portfolio_bg{
	fill:rgba(255,255,255,.1);
	width:100%;
}
.avatar__inner{
	
	margin: 0 auto;
	margin-top: 150px;	
	color: rgba(255,255,255,.7);
	text-align: center;
}
.ava__inner{
	border: 2px solid #fff;
	border-radius: 50%;
}
.ava__title{
	margin:12px auto 0;
	font-size: 2em;
}
.arrow__down{
	margin-top: 2%;
	
	// cursor:pointer;
	// &:hover{
	// 	transform: translateY(10px);
	// }
	z-index:10;
}
.svg_inner_header_arrow{
	margin: 0 auto;
	margin-bottom: 5%;
	opacity:.7;	
	z-index:10;
	cursor: pointer;
	&:hover{
		transform: translateY(10px);
	}
}

.svg_works_arrow_up2{
	cursor:pointer;
}
.triangles{
	position: relative;	
	width: 100%;
	// height: 200px;

}
.inner_header_triangle{
	position: absolute;
	bottom: 35px;
	left:0;
	fill:$trian_color;
	z-index:0;
}
.inner_header_triangle_about_me{
	bottom:135px;
}
// .triangle{
// 	float:left;
// 	width:50%;
// 	height:100%;
// }
// .svg_inner_bg{
	// display:block;
	// position:relative;
	// margin-top: -165px;
	
			
// .trian_left{
// 	fill:$trian_color;
// 	width:50%;
// }
// .trian_right{
// 	fill:$trian_color;
// 	width:50%;
// }
.title__inner{
	width: 100%;
	height:135px;
	// display:flex;
	// justify-content: center;
	position: relative;
	bottom: 35px;
	left: 0;
	right: 0;
	background-color: $trian_color;
	text-transform: uppercase;
	text-align: center;	
		
}
.title__inner__text{
	position:relative;
	width:35%;;
	margin:0 auto;
	font-family: 'bernier-regular';	
	font-weight: normal;
	font-style: normal;		
	font-size: 60px;
	color: #455a64;
	@include titles-dashes($dash-left, $dash-right, $top);
}


.svg_inner_works{
	width:100%;
	position:relative;
	bottom: 98px;
	opacity:.1;
}