.inner_footer{
	position: relative;
	z-index: 10;
	margin-top: -165px;
	// position: absolute;
	// bottom: 0;
	// left:0;
	// z-index:10;
}
.inner_footer.works_footer{
	margin-top:0;
	background:#555b5e;
}
.upper__footer,.down__footer{
	width: 100%;
	max-width:1800px;
	@include clearfix();
	background:rgba(47,68,73,.5);
	color: #fff;
	border-bottom: 1px solid #606e72;
	// z-index:1000000000;
}
.footer__navy{
	float: left;
}
.footer__navy__item{
	display:inline-block;
	padding:15px 0;
	margin-left: 30px;
	&:first-child{
		margin-left:0;
		padding-left: 0;
	}
}
.footer__socials{
	float:right;
	margin-right: 15px;

}
.footer_socials_item{
	display: inline-block;
	margin-left: 15px;
	&:first-child{
		margin-left:0;
	}
}
.svg_footer{
	cursor:pointer;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,.5);
	fill:none;
	// fill:rgba(255,255,255,.1);
	stroke: #fff;
	&:hover{
		fill:rgba(255,255,255,.5);
	}
	
}
//down footer
.down__footer{
	@include clearfix();
	border: none;
	color: #606e72;
}
.down__footer__left{
	float: left;
	width: 40%;
}
.down__footer__right{
	float: right;

}
.footer_socials_item{
	display: inline-block;
}