@import "_mixins.scss";
@import "_fonts.scss";
$trian_color:#faf8f0;
$dash: #c5cbcd;
$dash-left: 385px;
$dash-right: 385px;
$top: 72px;
$dash-left-1: 36px;
$dash-right-1: 36px;
$top-1: 18px;
$dash-left-3: -27px;
$dash-right-3: -27px;
$top-3: 17px;
$dash-left-4: 25px;
$dash-right-4: 25px;
$top-4: 38px;


.works_background_container{
	position: relative;
	overflow: hidden;
	background: url(../img/welcome-bg.jpg)no-repeat center;
	width:100%;
	height:100%;
	margin-bottom:-100px;
}
.avatar__inner.avatar__inner-myWorks{
	position: absolute;
	top: 0;
	right:0;
	left:0;
}

//section work items
.work__items{
	width:100%;
	height:100%;
	margin-top:-35px;
	@include clearfix();
}
.active__item__description{
	position: relative;
	width: 50%;
	height:100%;
	float: left;
	background-color:#f0efe9;
	
}
.a-i-d_center{
	position:relative;
	max-width: 420px;
	max-height: 250px;
	margin: 0 auto;
	margin-top: 23vh;
	text-align: center;
	text-transform: uppercase;
	@include titles-dashes($dash-left-1, $dash-right-1, $top-1)
}



.a-i-d_title{
	font-family: 'bernier-regular';
	font-size: 1.8em;
	margin-bottom: 30px;
	color: #455a64;
}
.a-i-d_text{
	color:$welcome_nav;
	border-top: 2px solid $welcome_nav;
	border-bottom: 2px solid $welcome_nav;
	padding: 14px 0;
	margin-bottom: 40px;
}
.a-i-d_button{
	position: relative;
	background-color: $welcome_nav;	
	padding: 10px 18px 10px 50px;
	border-radius: 5px;
}
.a-i-d_link{
	color: #fff;
	text-decoration: none;
}
.svg_works_link{
	position: absolute;
	left: -40px;
	top: 12px;
}
// .work__items__slider{	
// 	position: relative;	
// 	width:50%;
// 	height:100%;
		
//    }
.slider_top{
	width: 50%;
	height: 70%;
	float: right;
	background: #EFEBE0;
	position: relative;	
}
.slider__display-top{
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 360px;
	height: 324px;
	overflow: hidden;
}
.slider_item-top{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	max-width: 100%;
	opacity:0;
	&.active{
		opacity:1;
		transition: all 1s;
	}
}
.slider_item-down{
	position: absolute;
	top: -100%;
	left: 0;
	right:0;
	bottom:0;
	max-width: 100%;	
	&.active{
		top:0;
	}
}
.slider_item-up{
	position: absolute;
	top: 100%;
	left: 0;
	right:0;
	bottom:0;
	max-width: 100%;	
	&.active{
		top:0;
	}
}
.works_preview{
	position:relative;
	width:50%;
	height: 30%;
	float: left;
	display:flex;
	justify-content: space-around;
	align-items: center;	
	& img{
		max-width: 100%;
	}	
	&:after{
		display: block;
		height: 100%;
		width:100%;
		content:"";
		position:absolute;
		top:0;
		right:0;
		background: transparent; 
		background-color: rgba(0,0,0,.3);		
	}
}

.slider__display { 
  @include clearfix();
  overflow: hidden;
  width: 240px;
  height: 156px;
  position: relative; 
}
.slider_preview-down,.slider_preview-up{
	
	position:absolute;
	width: 50%;
	float: left;
	box-sizing: border-box;

}
 
.svg_works_arrow_down {
	position: absolute;
	fill:rgba(255,255,255,.7);
	top: 43%;
	left: 38%;	
	cursor:pointer;
	z-index:1;
	&:hover{
		transform: translateY(10px);
		transition: all .3s;
	}
}
.svg_works_arrow_up{
	position: absolute;
	fill:rgba(255,255,255,.7);
	top: 43%;
	left: 38%;
	cursor: pointer;
	z-index:1;
	&:hover{
		transform: translateY(-10px);
		transition: all .3s;
	}
}
.work_img{
	max-width:100%;
}
.svg_about_people_say{
	position:absolute;
	top:-60px;	
	left:-100px;
	opacity: .1;
}
.people__feedback{
	width:100%;
	max-width: 1800px;
	overflow: hidden;
	background: url(../img/about_bg_cut.jpg) no-repeat center;
	background-size:cover;
	z-index:1;
}
.people_say{	
	text-transform: uppercase;
	text-align:center;
	position:relative;
	margin: 70px auto;
	width: 32%;
	@include titles-dashes($dash-left-3, $dash-right-3, $top-3)
}
.my_works_text{
	font-family: 'bernier-regular';
	font-size: 2.1em;
	color: #455a64;
	font-weight:normal;
	font-style:normal;
}
.blockquote_left{
	padding-left: 41px;
}
.fa.fa-quote-left{
	color:#d4d7d8;
}

.feedback_list{
	display:flex;
	justify-content:space-between;
	margin: 0 auto;
	width:72%;
	
}
.people__feedback__item{	
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	flex:1;
	padding: 10px;
	color:#77868d;	
}
.tutor__avatar{
	@include clearfix();
	padding-left:10%;
	margin-top: 30px;
}
.tutor_img{
	border-radius: 50%;
}
.tutor_name{
	color: $welcome_nav;
	float: right;
	width: 70%;

}
.tutor_surname{
	margin-bottom:0;
	
}
.tutor_position{
	padding:0;
	margin:0;
}
// feedback-form

.feedback__form{
	position: relative;
	overflow: hidden;
	margin: 20px auto;
	margin-bottom: 85px;	
	width: 380px;	
	text-indent: 20px;
	border-radius:5px;
	
  	&:before{
  		content:"";
  		position: absolute;
  		top:0;
  		left:0;
  		width: 380px;
  		height: 323px;
  		background: rgba(255,255,255,.5);
		-webkit-filter: blur(1px);  
  		filter: blur(1px);
  		// z-index: 0;
  	}
	
}
.feedback_form_input,.feedback__form_textarea{
	display:block;
	position: relative;
	width:80%;
	outline: none;
	padding: 15px;
	margin: 10px auto;
	border-radius:5px;
	border-width:0;
	border-style:none;
	border-color:none; 
	z-index: 10;

}
.feedback__form_textarea{
	resize:none;
}
.feedback_form_label{
	position: relative;
	display:block;
	width: 100%;
	@include titles-dashes($dash-left-4, $dash-right-4, $top-4);
	font-family: 'bernier-regular';
	text-align: center;
	padding:20px;
	font-size: 35px;
	box-sizing:border-box;
}
.buttons_list{
	@include clearfix();
	margin:0;
	padding:0;
	width:100%;
	display: block;	
}
.button_item{
	display: block;
	float: left;
	width:50%;
	padding: 15px 0;
	border-width:0;
	border-style:none;
	// border-color:none;	
	border-right: 1px solid #fff;	
	color:#fff;				
	background-color:$welcome_nav;
	&:hover{
		background-color:$welcome_nav_hover;
	}
	&:last-child{
		border:none;
	}

	box-sizing: border-box;
}
.button__submit{
	border-radius: 0 0 0 5px;

}
.button__reset{
	border-radius: 0 0 5px 0;
}
.svg_works_arrow_up2{
	display:block;
	margin: 0 auto;
	margin-bottom: 30px;
	fill:rgba(255, 255, 255, 0.7);	
		&:hover{
		transform: translateY(-10px);
		transition: all .3s;	
	}
}
.svg_inner_header_arrow{
	&:hover{
		transform: translateY(-10px);
		transition: all .3s;	
	}
}